body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@keyframes rotate150 {
  0% {
    transform: rotate(-150deg) translateX(-30%);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}