@media only screen and (max-width: 999px) {
    #main{
        width: 100% !important;
        padding-top: 30px;
        margin-top: 50px;
    }
}
@media only screen and (min-width: 1000px) {
    #main{
        width: 1000px !important;
        margin: 0 auto;
        width:100%;
        text-align: left;
        margin-top: 100px;
        padding-top: 30px;
        margin-top: 50px;
    }
    #main-box{
        margin-top: 50px;
    }
}
#main-box{
    margin-top: 50px;
}
#cashflows-table{
    display: none;
}
#center-element{
    margin: 0 auto;
}
.row-space{
    padding-top: 10px;
}
.navbar{
    font-weight: bold;
}
.navbar-brand{
    padding: 0px 0px 0px 0px;
}
.navbar-brand-text{
    font-size: 15px;
    margin-left: 10px;
}
#headshot{
    width: 35px;
    height: 35px;
    border-radius: 35px 35px 35px 35px ;
  }
.icon-list{
    text-align: right;
    margin: 0 0 0 0;
}
.icon-list ul{
    margin: 0px 0px 0px 0px;
}
.icon-list li{
    padding: 0px 0px 0px 0px;
    margin-left: 0em;
}
.icon-list li img{
    height: 40px;
    width: 40px;

}