{% extends "layout.html" %}
{% block mainArea %}

<script>
  window.viewData = {};
  
  $(function() {
    // Update the viewData object with the current field keys and values.
    function updateViewData(key, value) {
        viewData[key] = value;
    }
  
    // Register all bindable elements
    function detectBindableElements() {
        var bindableEls;
  
        bindableEls = $('[data-bind]');
  
        // Add event handlers to update viewData and trigger callback event.
        bindableEls.on('change', function() {
            var $this;
            
            $this = $(this);
            
            updateViewData($this.data('bind'), $this.val());
  
            $(document).trigger('updateDisplay');
        });
  
        // Add a reference to each bindable element in viewData.
        bindableEls.each(function() {
            updateViewData($(this));
        });
    }
  
    // Trigger this event to manually update the list of bindable elements, useful when dynamically loading form fields.
    $(document).on('updateBindableElements', detectBindableElements);
  
    detectBindableElements();
    init();
  });
  

  function formatDateStr(date){
    const year = date.getFullYear();
    let month = (date.getMonth() + 1)
    let day = date.getDate()
    if(month < 10)
      month = "0" + month;
    if(day < 10)
      day = "0" + day;
    return year + "-" + month + "-" + day;
  }
  
  </script>

<div id="main" class="container">
{% block tool %}{% endblock %}

</div>

{% endblock %}